# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
      timezone: "America/New_York"
    target-branch: updates/dependencies
    commit-message:
      prefix: "deps"
      include: "scope"
    groups:
      python:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "terraform" # See documentation for possible values
    directory: "/terraform" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
      timezone: "America/New_York"
    target-branch: updates/dependencies
    commit-message:
      prefix: "deps"
      include: "scope"
    groups:
      terraform:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:00"
      timezone: "America/New_York"
    target-branch: updates/dependencies
    commit-message:
      prefix: "deps"
      include: "scope"
    groups:
      github-actions:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
